#page-title {
  text-align: center;
}

.firebase-content {
  display: flex;
  justify-content: center;
}

.buttons-div {
  display: flex;
}

.join-game-buttons {
  margin: 100px;
  font-size: 24px;
}

.join-game-buttons:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(1, 1, 0, .7);
}

.player-divs {
  text-align: center;
}

.choices {
  margin-top: -30px;
}

.game-stats {
  text-align: center;
}
